<form data-bind="submit: upload">
  <fieldset>
    <legend>
      <h2>Job Upload</h2>
    </legend>
    <p>Upload file: <input type="file" name="jobup" data-bind="event: { change: function() { takeJob($element.files[0]); } }" /></p>
    <!-- ko if: canUpload -->
    <p><button type="submit" name="upload-job">Upload</button></p>
    <!-- /ko -->
  </fieldset>
</form>

<!-- ko if: jobNumber -->
<section>
  <h2>Job <span data-bind="text: jobNumber"></span></h2>

  <!-- ko if: taskLines -->
  <table>
    <thead>
      <tr>
	<th>Task Number</th>
	<th>Task Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- ko foreach: taskLines -->
      <tr>
	<td><span data-bind="text: taskNumber"></span></td>
	<td><span data-bind="text: taskDescription"></span></td>
      </tr>
      <!-- /ko -->
    </tbody>
  </table>
  <!-- /ko -->
</section>
<!-- /ko -->
